<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PI" value="3.14"/>
  </appSettings>
     <runtime>  
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">  
        <probing privatePath="bin;bin2\subbin;bin3"/>  
      </assemblyBinding> 
       <!--assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">  
         <dependentAssembly>  
            <assemblyIdentity name="myAssembly"  
                              publicKeyToken="32ab4ba45e0a69a1"  
                              culture="neutral" />  
            <bindingRedirect oldVersion="1.0.0.0"  
                             newVersion="2.0.0.0"/>  
            <codeBase version="2.0.0.0"  
                      href="http://www.litwareinc.com/myAssembly.dll"/>  
         </dependentAssembly>  
      </assemblyBinding-->  
   </runtime>
  <system.diagnostics>
    <switches>
      <add name="configControl" value="All" />
    </switches>
    <!--trace autoflush="false" indentsize="0">
      <listeners>
        <add name="appListener" 
             type="System.Diagnostics.EventLogTraceListener" 
      initializeData="TraceListenerLog"></add>  
      </listeners>  
    </trace-->
  </system.diagnostics>
</configuration>