
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Documents">Documents</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Nasa">Nasa</a>
        </li>
    </ul>
</div>


