<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="PI" value="3.15"/>
    <add key="Setting1" value="May 5, 2014"/>
    <add key="Setting2" value="May 6, 2014"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <add name="TraceConsole" type="System.Diagnostics.ConsoleTraceListener" initializeData="false">
        </add>
        <add name="xmlTraceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="xmlTraceOutput.xml"
          traceOutputOptions="ProcessId, DateTime"/>
        <add name="appListener" type="System.Diagnostics.EventLogTraceListener" initializeData="TraceListenerLog">
        </add>
      </listeners>
    </trace>
    <sources>
      <source name="DemoSource" switchName="DemoSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="Console" type="System.Diagnostics.ConsoleTraceListener" initializeData="false">
          </add>
          <add name="xmlListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="xmlOutput.xml" traceOutputOptions="ProcessId, DateTime"/>
          <remove name="Default">
          </remove>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="configControl" value="All"/>
      <add name="DemoSwitch" value="Warning"/>
    </switches>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
          type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider"
          type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
<!--?xml version=”1.0” encoding=”utf-8” ?>
<configuration>
<system.diagnostics>
<sources>
<source name=”myTraceSource” switchName=”defaultSwitch”>
<listeners>
<add initializeData=”output.txt”
type=”System.Diagnostics.TextWriterTraceListeer”
name=”myLocalListener”>

While switches work for a whole trace source, a filter is applied to an individual listener. 
When you have multiple listeners for one single trace source, you can use filters to determine 
which trace events are actually processed by the listener. You could have a listener that sends 
text messages only for the critical events in a trace source, for example.

<filter type=”System.Diagnostics.EventTypeFilter” initializeData=”Warning”/>
</add>
<add name=”consoleListener” />
<remove name=”Default”/>
</listeners>
</source>
</sources>
<sharedListeners>
<add initializeData=”output.xml” type=”System.Diagnostics.XmlWriterTraceListener”
name=”xmlListener” traceOutputOptions=”None” />
<add type=”System.Diagnostics.ConsoleTraceListener” name=”consoleListener”
traceOutputOptions=”None” />
</sharedListeners>
<switches>
<add name=”defaultSwitch” value=”All” />
</switches>
</system.diagnostics>
</configuration-->