@*
Most web applications have a common layout that provides the user with a consistent experience 
as they navigate between the pages. In an ASP.NET Core MVC application, we use a layout file to 
provide a consistent experience across the pages. The layout typically includes common user 
interface elements such as a header, menu, and a footer. Many pages within the application 
shares common resources such as scripts and stylesheets. We can define all of these shared 
elements in a layout file, which can then be referenced by any view within the application. 
Layouts help in reducing duplicate code in views.
*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASPNETCoreWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    @*Using NPM does not work, use Client library installer.
        <link href="~/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        Check why font-awesome min (below) is not displaying
        <link href="~/lib/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
        https://stackoverflow.com/questions/57275813/font-awesome-icons-not-showing-up-in-asp-net-core-mvc-project
    *@
    <link rel="stylesheet" href="~/css/site.css" />

    @*https://stackoverflow.com/questions/5021552/how-to-reference-a-css-file-on-a-razor-view
    How to render styles in core is different from asp 
    @Styles.Render("~/styles/myStylesheet.css")*@

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <h1 class="navbar-brand"><i class="fa fa-paint-brush"></i>Mijn dashboard</h1>
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ASPNETCoreWebApp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Index">Students</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                        </li>

                        <li class="nav-item">
                            @await Component.InvokeAsync("CategoryMenu")
                        </li>
                        <li class="nav-item">
                            @await Html.PartialAsync("_LoginPartial")
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - ASPNETCoreWebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @*<script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>*@

    @RenderSection("Scripts", required: false)
</body>
</html>
