@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ASPNETCoreWebApp.Models.ImageOfDay

<h1>@Model.title</h1>
<br />
<img src="@Model.url" rel="Image Of Day" />
<br />
<p>@Model.explanation</p>