@model ASPNETCoreWebApp.Models.Contact

<p>
    <h4>FirstName: @Model.FirstName</h4>
    <h4>LastName: @Model.LastName</h4>
</p>
<br>
<h4>QueryString: @ViewBag.QueryString</h4>

<h4>@ViewBag.Contact</h4>
